<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Selección de poder</title>
  <link rel="stylesheet" href="../../assets/css/bill.css">
</head>
<body>

  <header>
    Selección de poder
  </header>

<!-- warrior.html -->
<div id="bill-list"></div>
<form id="search-bill-form">
  <input type="text" id="bill-id" placeholder="ID de la factura" required>
  <button type="submit">Buscar Guerrero</button>
</form>
<div id="warrior-result"></div>

  <!-- Agrega este script -->
  <script src="../../assets/js/bill.js"></script>
</body>
</html>