body{
    background-image: url(../../assets/imgs/hombre-ldnoi-10-a.jpg);
    background-color: #222;
    image-rendering: auto;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter:blur(1.5rem);
    overflow: hidden;
    font-family: monospace;
    backdrop-filter: blur(10px);
}


.btn-primary{
    background-color: #524e4e;
}

#boton{
    outline: none;
    box-shadow: none; 
    background-color: #7c7b7b;
    color: #121213;
}


.custom-btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.custom-btn{
    color: #121213;
}


