.img {
    position: relative;
    width: 10%;
  }
  
  .img-fluid {
    position: relative;
    top: 5px;
  }
  
  .cover-image {
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .cover-image img {
    width: 100%;
    height: auto;
  }
  
  /* Texto Responsivo */
  .cover-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 165%;
    padding: 20%;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
  
  @media (max-width: 768px) {
    .cover-text {
      font-size: 1em;
      padding: 15%;
    }
  }
  
  @media (max-width: 576px) {
    .cover-text {
      font-size: 0.5em;
      width: 55%;
      padding: 10%;
    }
  }
  
  /* Desplegable Productos */
  .dropdown-menu {
    width: auto;
    min-width: 10px !important;
    text-align: center !important;
    border: tran;
    border-radius: 5px;
  }
  
  .dropdown-item {
    font-size: 0.8rem;
    padding: 0.25rem 1rem;
    text-decoration: none;
    color: rgb(10, 11, 11) !important;
    background-color: transparent !important;
    border-radius: 10px;
  }
  
  .nav-item {
    padding-right: 50px;
    font-size: 18px;
  }
  
  /* Apartado botones responsivos */
  .boton {
    position: relative;
    left: 2%;
    bottom: 2%;
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 15px;
  }
  
  .boton2 {
    position: relative;
    left: 4.6%;
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 15px;
  }
  
  .boton3 {
    position: relative;
    left: 7%;
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 15px;
  }
  
  @media (max-width: 768px) {
    .boton,
    .boton2,
    .boton3 {
      font-size: 55%;
      padding: 0.1%;
    }
  }
  
  @media (max-width: 576px) {
    .boton,
    .boton2,
    .boton3 {
      font-size: 20%;
      width: 10%;
      padding: 0.2%;
    }
  }
  
  @media (max-width: 320px) {
    .boton,
    .boton2,
    .boton3 {
      font-size: 25%;
      width: 13%;
      padding: 0.4%;
    }
  }
  
  /* Botón crear cuenta */
  .text-wrap {
    position: absolute;
    text-align: center;
    top: 70%;
    left: 30%;
    font-size: 100%;
    transform: translate(-50%);
    width: 20%;
    padding: 0.2%;
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 5%;
  }
  
  @media (max-width: 1024px) {
    .text-wrap {
      font-size: 0.6em;
      padding: 0.1%;
    }
  }
  
  @media (max-width: 768px) {
    .text-wrap {
      font-size: 0.4em;
      padding: 0.1%;
    }
  }
  
  @media (max-width: 576px) {
    .text-wrap {
      font-size: 0.2em;
      width: 15%;
      padding: 0.1%;
    }
  }
  
  /* Lupa búsqueda */
  .im1 {
    width: 3.5%;
    position: relative;
    left: 44%;
  }
  
  @media (max-width: 1500px) {
    .im1 {
      width: 4%;
      left: 20%;
    }
  }
  
  @media (max-width: 1200px) {
    .im1 {
      width: 6%;
      left: 17%;
    }
  }
  
  @media (max-width: 899px) {
    .im1 {
      width: 6%;
      left: 13%;
    }
  }
  
  @media (max-width: 768px) {
    .im1 {
      width: 6%;
      left: 23%;
    }
  }
  
  @media (max-width: 480px) {
    .im1 {
      width: 9%;
      left: 17%;
    }
  }
  
  @media (max-width: 320px) {
    .im1 {
      width: 9%;
      left: 14%;
    }
  }
  
  /* Carrito */
  .im2 {
    width: 3.5%;
    position: relative;
    left: 47%;
  }
  
  @media (max-width: 1500px) {
    .im2 {
      width: 5%;
      left: 25%;
    }
  }
  
  @media (max-width: 1200px) {
    .im2 {
      width: 6%;
      left: 20%;
    }
  }
  
  @media (max-width: 899px) {
    .im2 {
      width: 6%;
      left: 14%;
    }
  }
  
  @media (max-width: 768px) {
    .im2 {
      width: 6%;
      left: 25%;
    }
  }
  
  @media (max-width: 480px) {
    .im2 {
      width: 9%;
      left: 19%;
    }
  }
  
  @media (max-width: 320px) {
    .im2 {
      width: 9%;
      left: 15%;
    }
  }
  
  /* Login */
  .im3 {
    width: 3.3%;
    position: relative;
    left: 50%;
  }
  
  @media (max-width: 1500px) {
    .im3 {
      width: 4.5%;
      left: 30%;
    }
  }
  
  @media (max-width: 1200px) {
    .im3 {
      width: 5%;
      left: 23%;
    }
  }
  
  @media (max-width: 899px) {
    .im3 {
      width: 5%;
      left: 15%;
    }
  }
  
  @media (max-width: 768px) {
    .im3 {
      width: 5%;
      left: 29%;
    }
  }
  
  @media (max-width: 480px) {
    .im3 {
      width: 8%;
      left: 21%;
    }
  }
  
  @media (max-width: 320px) {
    .im3 {
      width: 8%;
      left: 15%;
    }
  }
  
  /* Imágenes de ropa */
  .imagenes1,
  .imagenes2,
  .imagenes3,
  .imagenes4 {
    position: relative;
    width: 50%;
    border-radius: 100%;
  }
  
  .carousel {
    position: relative;
    top: 40% !important;
  }
  
  /* Imagen pasarela */
  .pasarela {
    position: relative;
    width: 35%;
  }
  
  @media (max-width: 480px) {
    .pasarela {
      width: 90%;
      left: 5%;
    }
  }
  
  /* Logo final */
  .logoF {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    width: 40%;
  }
  
  .logo2 {
    position: relative;
    width: 60%;
  }
  
  .img-tiktok-col {
    width: 70%;
  }
  
  /* Estilos del anuncio animado */
  .register-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .register-alert.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .alert-content {
    background: #575757; /* Fondo gris oscuro */
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.5s ease-in-out;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .alert-content button,
  .alert-content a {
    margin-top: 15px;
  }
  
  /* Botón Cerrar */
  .alert-content button {
    background-color: #b30000; /* Rojo oscuro */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .alert-content button:hover {
    background-color: #800000; /* Rojo más oscuro al pasar el mouse */
  }
  
  /* Botón Registrarse */
  .alert-content a {
    background-color: #000000; /* Negro */
    color: white;
    border-color: #ffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .alert-content a:hover {
    background-color: #333333; /* Gris oscuro al pasar el mouse */
  }
  
  /* Ajustes generales del footer */
  footer {
    font-size: 0.9rem;
  }
  
  footer .col-md-4 div:not(:last-child) {
    margin-bottom: 1rem;
  }
  
  @media (max-width: 768px) {
    footer .col-md-4 {
      text-align: center;
    }
  
    footer h3 {
      font-size: 1rem;
    }
  }